.btn-link {
  position: relative;
  background: #22251c;
  border-radius: 16px;
  cursor: pointer;
  color: #ffffff;
  overflow: hidden;
}
.btn-link > * {
  transition: 0.4s;
}

.btn-link-mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(180deg, #defe66 0%, #b0d840 100%);
  z-index: 1;
  border-radius: 16px;
}
.btn-link-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.btn-link:hover .btn-link-mask {
  width: 100%;
  opacity: 1;
}

.btn-link-arrow {
  background: var(--color--009853);
  width: 34px;
  min-width: 34px;
  height: 34px;
  border-radius: 17px;
}
.btn-link:hover .btn-link-arrow {
  background: #1a1a18;
}
.btn-link:hover {
  color: #1a1a18;
}
.btn-link-arrow-icon {
  fill: linear-gradient(180deg, #defe66 0%, #b0d840 100%);
}
.btn-link:hover .btn-link-arrow-icon {
  fill: var(--color--009853);
}
